* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}
header {
  display: flex;
  justify-content: center;
  background-color: lightblue;
  padding: 16px 32px;
  color: white;
}

form {
  border: 1px solid lightblue;
  width: 250px;
  padding: 20px;
  border-radius: 30px;
}
.formDiv {
  display: flex;
  justify-content: center;
}
.formItem {
  border: none;
}
button {
  width: 100%;
}
.taskItem {
  border: 1px solid black;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
